@* @using Microsoft.AspNetCore.Http

@model IEnumerable<projett.Models.Commande>

@{
    ViewData["Title"] = "Index";
}
@{
    var userIdObject = ViewContext.HttpContext.Session.GetInt32("UserId");
    var userId = userIdObject.HasValue ? userIdObject.Value : 0;
    var title = (userId != 3) ? "Commande" : "Approbateur";
}
<h1>@title</h1>

<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form method="post" asp-controller="Home" asp-action="Login" class="mt-3">
    <button type="submit" class="btn btn-danger">Déconnexion</button>
</form>
 *@
 @using Microsoft.AspNetCore.Http

@model IEnumerable<projett.Models.Commande>

@{
    ViewData["Title"] = "Index";
}
@{
    var userIdObject = ViewContext.HttpContext.Session.GetInt32("UserId");
    var userId = userIdObject.HasValue ? userIdObject.Value : 0;
    var title = (userId != 3) ? "Commande" : "Approbateur";
}
<h1>@title</h1>

<p>
    @if (userId != 3)
    {
        <a asp-action="Create">Création Commande</a>
    }
</p>
<table class="table" style="background-color: lightblue; color: black;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.User)
            </th> *@
            @if (userId != 3)
            {
                <th>
                    Statut
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Article)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                @if (userId == 3)
                {
                    <td>
                        <form method="post" asp-controller="Commandes">
                            <input type="hidden" name="orderId" value="@item.OrderId" />
                            <button id="BTNvalider" onclick="return submitbtn()" type="submit" class="btn btn-primary" formaction="/Commandes/Valider">Valider</button>
                            <button id="BTNrefuser" onclick="return submitbtn1()" type="submit" class="btn btn-danger" formaction="/Commandes/Refuser">refuser</button>

                        </form>
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<form method="post" asp-controller="Home" asp-action="Login" class="mt-3">
    <button type="submit" class="btn btn-danger">Déconnexion</button>
</form>
<script>
    function submitbtn() {
        document.getElementById("BTNvalider").disabled = true;
        return true;
    }
    function submitbtn1() {
        document.getElementById("BTNrefuser").disabled = true;
        return true;
    }
</script>
